.tribute-container {
  position: absolute;
  top: 0;
  left: 0;
  height: auto;
  overflow: hidden;
  display: block;
  z-index: 999999;
  
  overflow: hidden;
  font-size: 1.25rem;
  background-color: white;
  border: 1px solid #CCC;
  border-radius: 4px;
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0px 0 1px rgba(10, 10, 10, 0.02);

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    color: #4a4a4a;
    display: block;
    cursor: pointer;

    &.highlight {
      background-color: #3273dc;
      color: #fff;
    }

    span {
      font-weight: bold;
    }

    .suggestion {
      display: inline-block;
      padding: 0.375rem 0.5rem;
    }

    .index {
      display: inline-block;
      border-right: 1px solid #BBB;
      padding: 0.375rem 0.5rem;
    }

    &.no-match {
      cursor: default;
    }
  }

  .menu-highlighted {
    font-weight: bold;
  }

  .pager {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #CCC;

    &.hidden {
      display: none;
    }

    span {
      background-color: #EEE;
      padding: 0.375rem 0.5rem;
      cursor: pointer;

      &:hover {
        background-color: #3273dc;
        color: #fff;
      }

      &.hidden {
        visibility: hidden;
      }
    }

    #webime-shift {
      border-radius: 3px;
      padding: 4px 6px;
      background-color: #3273dc;
      color: #fff;
      font-size: 0.8rem;
    }

    #webime-next {
      float: right;
    }
  }
}
